<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-label>
      FakeBinance <span style="color: #f1ce50; font-size: 80%"> Lite</span>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/logo.png/" />
        <h2>Welcome</h2>
        <h3>to Fake Binance</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/logo.png/" />
        <h2>What is Fake Binance?</h2>
        <p>
          Fake Binance is reinterpretation of Binance that is a cryptocurrency
          exchange platform founded in 2017.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/creatoreFakeBinance.JPG/" />
        <h3>Who is the Developer?</h3>
        <p>
          The developer is Alessandro Di Giovanni, a Sicilian developer who study
          Web And Game development into a ITS Steve Jobs Academy.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/monete.jpeg/" />
        <h2>Are you Ready to Buy Crypto-Coins?</h2>
        <ion-button (click)="tutorialIsShowed()"
          >Go! <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
