<ion-header>
  <ion-toolbar>
    <ion-title> Binance <span style="color: #f1ce50; font-size: 80%"> Lite</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/logo.png/" />
        <h2>Welcome</h2>
        <h3>to Binance</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/logo.png/" />
        <h2>Cosa è Binance</h2>
        <p>
          Binance è una piattaforma di scambio di criptovalute fondata nel 2017.
          A maggio 2021, Binance è l'exchange di assets digitali più grande del
          mondo in termini di volume di scambi.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/creatoreBinance.jpeg/" />
        <h3>Chi è il Fondatore?</h3>
        <p>
          Il fondatore della compagnia è Changpeng Zhao, comunemente noto come
          "CZ", uno sviluppatore cinese che precedentemente sviluppò un software
          di high-frequency trading.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/monete.jpeg/" />
        <h2>Sei Pronto a Comprare Crypto-Monete?</h2>
        <ion-button [routerLink]="['/login']"
          >Andiamo! <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
