<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;"> Binance <span style="color: #f1ce50; font-size: 80%;" > Lite</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/logo.png/" />
        <h2>Welcome</h2>
        <h3>to Binance</h3>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/logo.png/" />
        <h2>What is Binance?</h2>
        <p>
          Binance is a cryptocurrency exchange platform founded in 2017.
          As of May 2021, Binance is the largest digital assets exchange in the
          world in terms of trading volume.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/creatoreBinance.jpeg/" />
        <h3>Who is the Founder?</h3>
        <p>
          The founder of the company is Changpeng Zhao, commonly known as
          "CZ", a Chinese developer who previously developed software
          of high-frequency trading.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src=" assets/icon/monete.jpeg/" />
        <h2>Are you Ready to Buy Crypto-Coins?</h2>
        <ion-button (click)='tutorialIsShowed()' 
          >Go! <ion-icon  slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
