<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <a [routerLink]="['/search']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
      <ion-label style="margin-left: 30%">
        <p>{{value}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    lines="none"
    style="
      display: flex;
      font-size: small;
      align-items: center;
      justify-content: center;
    "
  >
    <img [src]="crypto?.image.thumb" />
    <p style="margin-left: 2%">
      1 {{value | uppercase }} ≈ {{crypto?.market_data.current_price.usd}} $
    </p>
  </div>
  

  <ion-item>
    <ion-label>
      <h2>Daily variation</h2>
    </ion-label>
    <ion-label slot="end" style="text-align: end">
      <h2
        [ngStyle]="{'color' : crypto?.market_data.price_change_percentage_24h > 0 ? 'green' : 'red' }"
      >
        <span *ngIf="crypto?.market_data.price_change_percentage_24h > 0"
          >+</span
        >{{crypto?.market_data.price_change_percentage_24h}} %
      </h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Weekly variation</h2>
    </ion-label>
    <ion-label slot="end" style="text-align: end">
      <h2
        [ngStyle]="{'color' : crypto?.market_data.price_change_percentage_7d > 0 ? 'green' : 'red' }"
      >
        <span *ngIf="crypto?.market_data.price_change_percentage_7d > 0"
          >+</span
        >{{crypto?.market_data.price_change_percentage_7d}} %
      </h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Monthly variation</h2>
    </ion-label>
    <ion-label slot="end" style="text-align: end">
      <h2
        [ngStyle]="{'color' : crypto?.market_data.price_change_percentage_30d > 0 ? 'green' : 'red' }"
      >
        <span *ngIf="crypto?.market_data.price_change_percentage_30d > 0"
          >+</span
        >{{crypto?.market_data.price_change_percentage_30d}} %
      </h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Annual variation</h2>
    </ion-label>
    <ion-label slot="end" style="text-align: end">
      <h2
        [ngStyle]="{'color' : crypto?.market_data.price_change_percentage_1y > 0 ? 'green' : 'red' }"
      >
        <span *ngIf="crypto?.market_data.price_change_percentage_1y > 0"
          >+</span
        >{{crypto?.market_data.price_change_percentage_1y}} %
      </h2>
    </ion-label>
  </ion-item>
</ion-content>
