<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <a href="">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
      <ion-label style="margin-left: 13%;">
        <p>Scegli la Criptovaluta</p>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="term" placeholder="Cerca"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="none" *ngFor='let item of crypto | filter:term'>
      <img [src]="item.image.thumb">
      <ion-label style="margin-left: 3%;">
        {{item.symbol | uppercase}}
        <ion-note style="font-size: x-small;">
          {{item.id | titlecase}}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>