<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label style="text-align: center">
      <p>Portafoglio</p>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; align-items: center">
    <p style="font-size: x-small; margin-right: 1%; margin-left: 2%">
      Saldo totale
    </p>
    <a (click)="visibility =! visibility">
      <ion-icon
        *ngIf="visibility else pattern_eye"
        cl
        name="eye-outline"
      ></ion-icon>
      <ng-template #pattern_eye>
        <ion-icon name="eye-off"></ion-icon>
      </ng-template>
    </a>
  </div>
  <div style="display: flex; align-items: center">
    <h1 *ngIf="visibility else pattern" style="margin: 0 2% 0 2%">{{sum}} $</h1>
    <ng-template #pattern>
      <h1 style="margin: 0 2% 0 2%">*****</h1>
    </ng-template>
    <ion-icon name="information-circle-outline"></ion-icon>
  </div>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Assegnazione degli asset</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas class="canvas" #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Asset</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="padding: 0">
      <ion-list>
        <ion-item lines="none" *ngFor="let item of this.api.Cryptos">
          <img [src]="item.image" />
          <ion-label style="margin-left: 5%">
            <h4>{{item.symbol | uppercase}}</h4>
            <ion-note>
              <h6>{{item.name | titlecase}}</h6>
            </ion-note>
          </ion-label>
          <ion-label
            *ngIf="visibility else pattern"
            slot="end"
            style="text-align: end"
          >
            <h4>{{item.valueinCrypto| number:'.0-7'}}</h4>
            <h4>{{item.value}} $</h4>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
