<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <a href=""><ion-icon name="arrow-back-outline"></ion-icon></a>
      <ion-label style="margin-left: 13%;">
        <p>Scegli la Criptovaluta</p>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="term"  placeholder="Cerca"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [routerLink]="['info-crypto/'+item.name]" lines="none" *ngFor='let item of crypto | filter:term'>
      <ion-avatar slot="start">
        <img [src]="item.image.large">
      </ion-avatar>
      <ion-label>
        <h2>{{item.symbol | uppercase}}</h2>
        <ion-note>
          <h3>{{item.id | titlecase}}</h3>
        </ion-note>
      </ion-label>
      <ion-label slot="end" style="text-align: end;">
        <h2>{{item.market_data.current_price.usd}} $</h2>
        <h5 [ngStyle]="{'color' : item.market_data.price_change_percentage_24h > 0 ? 'green' : 'red' }">
          <span
            *ngIf="item.market_data.price_change_percentage_24h > 0">+</span>{{item.market_data.price_change_percentage_24h}}
        </h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>